<div class="content h-100 d-flex flex-column justify-content-evenly">
  <div class="title text-center my-4">
    <h3>Change password</h3>
    <p class="text-muted small">Update your login credentials</p>
  </div>

  <form
    (ngSubmit)="updatedPassword()"
    #updatePasswordForm="ngForm"
    class="w-100"
  >
    <!-- Current -->
    <label class="form-label text-uppercase">Current Password</label>
    <div class="input-group mb-1">
      <input
        type="password"
        name="currentPassword"
        [(ngModel)]="updatePassword.currentPassword"
        #userCurrentPassword="ngModel"
        class="form-control"
        placeholder="Enter current password"
        required
      />
    </div>
    <div class="text-danger">
      @if (userCurrentPassword.invalid && userCurrentPassword.touched) {
        @if (userCurrentPassword.errors?.["required"]) {
          <p>Current Password is required</p>
        }
      }
    </div>
    <div class="text-end mb-3">
      <a
        class="forgot-link text-decoration-underline"
        (click)="onForgotPassword()"
        style="cursor: pointer"
      >
        Forget password?
      </a>
    </div>
    <!--NEW PASSWORD -->
    <div class="password mb-3">
      <label class="form-label text-uppercase">New Password</label>
      <input
        type="password"
        name="password"
        [(ngModel)]="updatePassword.password"
        #userPassword="ngModel"
        required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&_\-#])[A-Za-z\d@$!%*?&_\-#]{8,}$"
        class="form-control"
        placeholder="Min. 8 characters"
      />
      @if (userPassword.invalid && userPassword.touched) {
        <div class="text-danger mt-2">
          @if (userPassword.errors?.["required"]) {
            <p>New Password is required</p>
          }
          @if (userPassword.errors?.["pattern"]) {
            <p>
              Password must be at least 8 characters and include uppercase,
              lowercase, number, and special character
            </p>
          }
        </div>
      }
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="re-password mb-3">
      <label class="form-label text-uppercase">Confirm Password</label>
      <input
        type="password"
        name="rePassword"
        [(ngModel)]="updatePassword.rePassword"
        #userRePassword="ngModel"
        required
        class="form-control"
        placeholder="Re-enter your password"
      />

      @if (
        userRePassword.touched &&
        updatePassword.password !== updatePassword.rePassword
      ) {
        <div class="text-danger mt-2">
          <p>Passwords do not match</p>
        </div>
      }
    </div>

    <button
      type="submit"
      [disabled]="
        updatePasswordForm.invalid ||
        updatePassword.password !== updatePassword.rePassword
      "
      class="btn save-btn w-100 mt-5"
    >
      Update password
    </button>
  </form>
</div>
