.content form p{
  font-size: 16px !important;
  color: red;
  font-family: "Inter", sans-serif;
}

.save-btn{
  background: #0F2854;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  transition: 0.3s ease;
  font-weight: 500;
}

/* Hover effect */
.save-btn:hover{
  background: #1C4D8D;
  color: white;
}
